body{
    display: flexbox;
    font-family: "Spline Sans";
    background: #F6F6F6;
}

nav{
    background: #DDD79D;
}

.navbar-nav a{
    color:#7C7741;
}
.navbar-nav .active{
    color: #7C7741;
    font-style: bold;
}

.jumbotron{
    background-image: url('/Images/Hero_true.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    text-align: center;
    color: #FCE7F8;
    font-size: 100px;
}


.content button{
    width: 144px;
    height: 50px;
    color: white;
    background-color: #A49D5C;
    font-size: medium;
    border-radius: 25px;
    border-style: none;
}

.content button:hover{
    background-color: #7C7741;
    border-style: none;
}

/* Beginning of Me and My Skills section*/

.aboutMe h2{
    text-align: center;
    color: #F37E3B;
    padding-top: 15px;
}
.flexContainer{
    display: flex;
    background-color: #A49D5C;
    padding-top: 10px;
    border-radius: 10px;
    color: #F6F6F6;
}

#tools li{
    text-align: Center;
    list-style: none;
    color: #F6F6F6;
}

.flexContainer div{
    width: 33%;
    margin: 10px;
    padding: 15px;

}

.flexContainer h3{
    text-align: center;
    color: #FCE7F8;
}

/* Beginning of Previous Work section*/

.previousWork h2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.grid-container{
    display: grid;
    grid-template-areas: 'wonderbloom wanderapp';
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-top: 25px;
    margin: 50px;
    padding-bottom: 50px;
    
}

.item1{
    grid-area: wonderbloom;
    background-color: #DDD79D;
    border-style: solid;
    border-color: #7C7741;
    padding-inline: 15px;
    border-radius: 5px;
    
}

.item1 img{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: center;
}

.item1 h5{
    color: #FCE7F8;
    font-size: 28px;
    text-align: center;
    padding-bottom: 5px;
}

.item1 p{
    color: #7E7E7B;
}

.item2{
    grid-area: wanderapp;
    background-color: #DDD79D;
    border-style: solid;
    border-color:#7C7741;
    padding-inline: 15px;
    border-radius: 5px;
}

.item2 img{
    display: flex;
    align-items: start;
    padding-bottom: 10px;

}

.item2 h5{
    color: #FCE7F8;
    font-size: 28px;
    text-align: center;
    padding-bottom: 5px;
}

.item2 p{
    color:#7E7E7B;
}

a.btn.btn-primary{
    display: flex;
    background-color: #F3BD53;
    border: none;
    color: #F6F6F6;
    padding: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    margin-bottom: 10px;
    justify-content: center;
    
    
}
a.btn.btn-primary:hover{
    background-color: #F37E3B;
}

/* Footer */

footer{
    background-color: #F3BD53;
    height: 100px;
}

footer h2{
    text-align: center;
    color: #7C7741;
    padding-top: 5px;
}

#footer{
    font-size: medium;
    color: #F6F6F6;
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600){
    .flexContainer{
        flex-direction: column;
    }
    .flexContainer div{
        width: 100%;
    }
    .grid-container{
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: 
        'wonderbloom'
        'wanderapp';
    }
}